$font-1: "font-1", sans-serif;
$font-2: "font-2", sans-serif;
$font-3: "font-3", sans-serif;

$color-1: #0ea2dd;
$color-2: #1f4e83;
$color-3: rgb(184, 181, 181);
$black: #060d2c;
$white: rgb(238, 238, 238);
